/*RESET DE ESTILOS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ESTILOS GENERALES*/
body{
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
}

/*ESTILOS HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding: 1.5rem 2rem;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e8f0;
}
.barra-nav{
    display:flex;
    align-items: center;

}

ul{
    display:flex;
    gap: 1.5rem;
    list-style: none;

    align-items: center;
}

a{
    color: #475569;
    text-decoration: none;
    font-weight: 500;

}

.boton-comparar{
    display: flex;
    align-items: center;
    gap: 0.5rem;




    padding: 0.5rem 1rem;
    background-color: #22C55E;
    border: none;
    border-radius: 6px;

    font-family: inherit;
    font-weight: 500;
}

.enlace-historial{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}




/*ESTILOS COMPARADORES*/



.comparadores{
    display: flex;
    justify-content: space-around;
    align-items: stretch;


    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
}

.input-container{
    display:flex;
    gap: 0.5rem;
    flex: 1;

}

/*ESTILOS COMPARADOR A y B*/

.tarjeta-a{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    flex:1;

    background-color: #ffffff;
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tarjeta-b{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    flex:1;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.tarjeta-b h2, .tarjeta-a h2{
    color: #1e293b;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #e2e8f0;
}

input, select{
    padding:0.5rem;
    width: 100%;

    border: none;
    background-color: #F1F5F9;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;


}


/*Estilo de texto*/
.text-decorativo{
    padding: 1.55rem;
    text-align: center;
    background-color: #bfd1fa;
    color: black;

    max-width: 1000px;
    margin: 0 auto;
    border-radius: 16px;
}

.text-decorativo p{
    padding: 1rem;
    font-weight: 600;
}